<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/error.css" />
  </head>
  <body>
    <%- include ('./components/header') %>
    <main>
      <h1>Sorry, an unexpected error occurred.</h1>
      <h2>Error: <%= error %></h2>
      <a href="/">Return to homepage.</a>
    </main>
  </body>
</html>
