<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <%- include('./components/header') %>
    <main></main>
  </body>
</html>
