*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  padding: 1em 0.5em;
  border-bottom: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > h1 a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  gap: 1em;
}

main {
  padding: 0.5em;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}
